[2021-08-26 08:45] mbospiir opened #2 "OAuth2 flow results with "The request is not allowed. No CSRF value available in the session cookie.""
Hi,
upon successful sandbox TPP registration, I'm trying to get an access token. I send the following request:
[code]
In response, I get a `Location` header, which I paste into the browser and then, after clicking the *Submit* button, I get redirected to my redirect URL with query params indicating an error:
`error=request_forbidden&error_description=The+request+is+not+allowed.+No+CSRF+value+avail

[2021-08-27 05:54] mbospiir opened #3 "Sandbox GET /accounts redirects to https://lunar.app/404/"
Hi,
after retrieving access token and calling `https://sandbox.openbanking.prod.lunar.app/accounts` with the following headers:
[code]
the following response is being returned:
[code]

[2021-08-27 10:48] #3 closed, assigned to nobody

[2021-08-27 12:57] mbospiir opened #4 "OAuth2 auth request with `offline` scope fails"
Hi,
the initial OAuth2 call fails when trying to use `offline` scope mentioned in the other issue.
[code]
It redirects to:
`<CALLBACK_URI>?error=invalid_scope&error_description=The+requested+scope+is+invalid%2C+unknown%2C+or+malformed.+The+OAuth+2.0+Client+is+not+allowed+to+request+scope+%27offline%27.&state=<GUID>`

I also tried `&access_type=offline` but still - no `refresh_token` is being retur

[2021-08-27 13:05] mbospiir opened #5 "Valid AISP transaction statuses"
The documentation for `/aisp-pisp/accounts/{accountId}/transactions` [here](https://developer.openbanking.prod.lunar.app/catalog/default/api/aisp-pisp) lists only two values for transaction status:
- future
- financial

While the response for account *6148b3a0-c3e7-4d99-a9bc-985f7decff6c* from sandbox has additional status of `authorization` for a card transaction.

Is this just sandbox having inv

[2021-08-30 12:24] Crevil commented on #4
The OAuth2 specification specifies scopes to be space separated values: https://datatracker.ietf.org/doc/html/rfc6749#section-3.3

So the docs are in this case misleading. I will make sure to update that.

Further more a bug prevents you from requesting that specific scope. I'll let you know when it is fixed. It should be done shortly.

[2021-08-30 12:32] Crevil commented on #4
Fix is out now. Please register a new test TPP in sandbox and try again. 🙏

[2021-08-30 12:41] Crevil commented on #2
Thank you for adding context 🙏

I will get back to you about that cookie 👍

You are right about the `client_secret_post` method. That is misleading.

We currently only support the `client_secret_basic` method. This is mainly due to the recommendations of the [OAuth2 RFC](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1).

Are you limited by this or is it enough to make the docs more cle

[2021-08-30 13:09] dentych commented on #5
The swagger spec has been updated with the statuses that can be returned from the endpoint.

[2021-08-30 13:09] #5 closed

[2021-08-30 13:38] #4 closed

[2021-09-01 06:29] mbospiir commented on #2
Thank you for considering changing that.
We do not seem to be limited, but the thing is that the *start auth* request now needs to be executed in the PSU's browser, so we need to pass over there the whole URL containing e.g. our `client_id`. Would be best to keep such variables in the backend only.

[2021-09-01 12:52] mbospiir opened #6 "Cannot access the developer portal due to an expired certificate"
The developer portal's certificate has expired today and the website is inaccessible.

[2021-09-01 13:07] Crevil commented on #6
Sorry about that. The certificate is now updated.

[2021-09-01 20:16] Crevil commented on #2
I'm unsure I follow your response as we have a couple of questions open.

Can I get you to clear it up for me?

1) The `start auth` flow needs to be started in the PSU's browser: As far as I can see in our setup this looks to be a hard requirement. The `client_id` is generally to be considered public as far as I know. Can you point me to something that argues for keeping it 'backend only'?

2) The

[2021-09-02 06:37] mbospiir commented on #2
1. Yes, `client_id` is public and thus sent in the query parameters. Just wanted to keep the complexity and variables in the backend as a principle - where we have control over what's going on. But as it is clear now that the `start auth` call originating from the PSU works just fine and does not require setting any cookies, it's totally alright.
2. No, it's ok. Just the flow chart is misleading i

[2021-09-02 06:37] #2 closed

[2021-09-02 06:44] Crevil commented on #2
Thank you for clearifying @mbospiir . The flow chart on `start auth` is now updated to reflect this and I'll make sure to do the same for the `client_secret_post`.

[2021-09-02 07:07] Crevil commented on #2
For the record the docs are now updated with a warning on the incorrectness of the well-known endpoint.
https://developer.openbanking.prod.lunar.app/docs/default/API/Registration/access_token/

[2021-09-09 08:42] mbospiir opened #7 "Support for TLS v1.2"
Hi,
we asked over a week ago to loosen the TLS version requirement to allow TLS 1.2 with some secure cipher suites as well and got a response that it will be changed immediately.
What is the status of that?
Can we expect the change to be done soon?

[2021-09-13 08:27] hoeg commented on #7
Hi,
we are working on this issue but unfortunately we cannot promise a date where it will be done. We will update this issue once the fix is deployed.

[2021-09-20 11:45] hoeg commented on #7
Hi @mbospiir, we have released a fix that enables TLSv1.2. I will close this issue now. You are always welcome to open a new issues if you are experiencing any difficulties.

[2021-09-20 11:46] #7 closed

[2021-09-21 12:41] mbospiir opened #8 "Prod onboarding fails"
Hi,
thanks to TLS v1.2 being enabled, we could try the production API.
It unfortunately fails during onboarding with:
[code]

Can you investigate the cause of it? Sandbox onboarding works just fine with a sandbox certificate.

[2021-09-28 10:25] hoeg commented on #8
Did you use mTLS for the registration request as done in the example provided here: https://developer.openbanking.prod.lunar.app/docs/default/api/registration/register/

[2021-09-28 12:40] mbospiir commented on #8
Yes, I did use MTLS. Also the QWAC is issued by a QTSP - https://webgate.ec.europa.eu/tl-browser/#/tl/NO/1/3

[2021-09-30 12:49] hoeg commented on #8
@mbospiir is your certificate issued directly by https://webgate.ec.europa.eu/tl-browser/#/tl/NO/1/3 or are there any intermediate certificates in play?

[2021-09-30 14:05] mbospiir commented on #8
@hoeg directly by Buypass Class 3 CA G2 QC WA

[2021-10-04 12:26] hoeg commented on #8
@mbospiir would you be able to providers with the details of your process of registrating (of course without your cert and private key) so that we can try and reproduce the issue?

[2021-10-06 07:18] mbospiir commented on #8
@hoeg could you please contact me by email at mbo (at) aiia.eu, so I can provide you with more details?

[2021-10-16 07:47] #8 closed

[2021-10-20 09:22] mbospiir opened #9 "Company name extracted from the certificate"
Hi,
it seems that you automatically extract the company name from the QWAC and then use it in the redirect flow.
The problem is it's not the `Organization (O)` property but `2.5.4.97`.
This results in the following - the end-user sees TPP id and not a company name.
![Screenshot 2021-10-20 at 11 16 46](https://user-images.githubusercontent.com/75615254/138065956-021ecd16-4b4d-4c85-bea5-3d05b9885c09

[2021-10-20 09:31] mbospiir opened #10 "Old and migrated accounts"
Hi,
during the user selection, the screen looks like this making it hard to know which is the old account and which is the current one.
![Screenshot 2021-10-20 at 11 23 56](https://user-images.githubusercontent.com/75615254/138066806-dbf49c4a-30d4-4010-99bb-02ae75b1f2ea.png)

In the other places in the app, it looks better:
![Screenshot 2021-10-20 at 11 26 56](https://user-images.githubusercontent

[2021-10-28 13:34] niklavs-raudseps opened #11 "Accounts return 403 unauthorized"
Hello,

I was able to get an access token in sandbox, but I wasn't able to use it when accessing accounts.
[code]
[code]

I don't want to add any more information for security reasons, but hopefully this should suffice.

[2021-11-01 09:40] niklavs-raudseps commented on #11
Yes, it turns out I wasn't using the correct scope. I changed it to `PSP_AI`, but now I can't get a refresh token. Does this mean that I cannot get a refresh token?

[2021-11-01 09:42] Crevil commented on #11
You need to register for both `PSP_AI` and `offline` if you want the refresh token.

See https://developer.openbanking.prod.lunar.app/docs/default/api/registration/access_token/#refresh-tokens for more details 😄

[2021-11-02 08:38] niklavs-raudseps commented on #11
How can I change my scopes then if I'm already registered? I don't see any endpoint that allows me to do that.

[2021-11-03 08:58] niklavs-raudseps opened #12 "Small questions"
I have a few questions

1. I want to use the `offline` scope so I can get refresh tokens, but I need to change my registration for this. Is there a PUT/PATCH request to do this? There is only an endpoint for changing the redirect-uri.
2. How long in the past are transactions able to be retrieved?
3. Do transactions have a `dateTo`, `dateFrom` paramater?

[2021-11-03 08:58] #11 closed

[2021-11-05 07:19] niklavs-raudseps commented on #12
Hey, has somebody read this?

[2021-11-09 07:02] mbospiir opened #13 "Some accounts are missing balance information"
Hi,
`/aisp-pisp/accounts` endpoint does not provide balance information for some accounts. Why is that?
You can take a look at the response we got at `Mon, 08 Nov 2021 13:49:29 GMT`.

[2021-11-11 11:04] dentych commented on #12
Hey @niklavs-raudseps

I can't answer your question 1, maybe you can help here @Crevil ?

All transactions for an account can be retrieved, using the endpoints specified in https://developer.openbanking.prod.lunar.app/catalog/default/api/aisp-pisp . You can use the limit/offset parameters to retrieve it.

I'm not entirely sure what you mean with dateTo and dateFrom, can you elaborate a little? Tra

[2021-11-11 11:08] Crevil commented on #12
It is currently not possible to update the scopes after regitration. Have you registered in the sandbox or live environment?

[2021-11-11 12:24] niklavs-raudseps commented on #12
1. Yes, I have registered without the offline scope for both sandbox and production.
2. `dateTo` and `dateFrom` means we request transactions from a certain time period (say from November to December). We want this since the End User Agreement our clients signs says that we won't send transactions older than 90 days. If we store those old transactions than we will have broken that agreement.

[2021-11-12 07:55] niklavs-raudseps commented on #12
How long should I wait until an update which allows me to change my registration scopes?

[2021-11-12 08:03] Crevil commented on #12
@hoeg do you have an idea on a timeline for this?

[2021-11-12 08:06] dentych commented on #12
@niklavs-raudseps Currently there is only limit/offset capability in the API, not from and to dates.

[2021-11-15 09:33] dentych commented on #13
@mbospiir Are you trying in Sandbox or Production?

[2021-11-15 09:35] niklavs-raudseps commented on #12
When will I be able to change my registration?

[2021-11-15 09:57] mbospiir commented on #13
@dentych in production

[2021-11-15 14:46] dentych commented on #13
@mbospiir Is it possible you can try another request? The problem isn't fixed, but I made some changes to help me locate the problem. Thank you in advance 😄

[2021-11-16 09:27] mbospiir commented on #13
@dentych I asked the user to try again and we actually got the balances for the account.
Wierd, as when the issue occured last week, we tried several times and it was reproducable.

[2021-11-16 09:32] mbospiir opened #14 "Some transactions have "1970-01-01T00:00:00Z" postingTime value and DKK -> DKK currencyExchange"
As in the title - this happened e.g. today for the request at `Tue, 16 Nov 2021 09:16:11 GMT`
The currency conversion in the response was the following:
[code]
Is such payload is intentional? Or should it be `null` when there is no currency conversion?

[2021-11-16 09:59] dentych commented on #13
@mbospiir Oh. Alright! Well, good that you get the balances now.

I'll close this issue, and if you see it again, please don't hesitate to open a new one and we'll have a look right away :)

[2021-11-16 09:59] #13 closed

[2021-11-16 16:16] mbospiir opened #15 "Some accounts are missing balance info"
@dentych we didn't have to wait that long ;)
It happened for a response from `Tue, 16 Nov 2021 15:33:47 GMT` (`Date` header) - 3 out of 6 accounts do not have balance information.

[2021-11-17 11:05] micspiir opened #16 "Duplicate transaction ids"
When getting transactions we see many cases of duplicate ids on transactions. It is not all transactions that have the same id, but almost, often with hundreds of transactions with the same id. Let me know if you need more information.

[2021-11-18 08:22] dentych commented on #15
Looking into it!

[2021-11-18 08:53] dentych commented on #15
Can you email me the response or alternatively the account IDs missing balance to dty at lunar.app? My modification from a few days ago didn't quite make it to production 😬 It is now, though. But for this call I need some IDs to investigate further.

Sorry for the inconvenience

[2021-11-18 09:12] mbospiir commented on #15
@dentych sure, sent

[2021-11-18 09:21] dentych commented on #16
Hey.

When was the exact timestamp for this request?

[2021-11-18 09:46] micspiir commented on #16
This happens all the time actually. I just looked up an example now with 2520 duplicate ids out of 2547 transactions. We sent that request at 2021-11-18 08:39:50.252.

In our last integration towards you we didn't see the problem with the ids. Maybe you could look into what the difference is? Would be perfect if they could stay the same.

[2021-11-18 11:40] dentych commented on #15
Hey. I deployed a fix which should return balances for the accounts. It was disregarded for accounts with balance = 0, because Go's default value deemed that "null".

I deployed a fix to production. I'll close the issue as resolved =)

[2021-11-18 11:40] #15 closed

[2021-11-18 11:42] dentych commented on #16
It looks like we had a bit of pointer/range magic issue, which put the last transaction ID on all the transactions.

I have deployed a fix to production, so IDs should be correct now. ✅

[2021-11-18 11:42] #16 closed

[2021-11-18 11:48] dentych commented on #14
Hey @mbospiir .

Can you please email me the transaction ID with this currencyExchange, and also for the postingTime = 1970xxx ? Thank you 🙏

Same email address as last 😄

[2021-11-18 12:07] mbospiir commented on #14
@dentych sent

[2021-11-18 12:58] bsnlunar commented on #12
Hi niklavs-raudseps
This is now placed into our back log - but we cannot at present time give you a timeframe for solving this feature request covering to and from dates

[2021-11-18 13:32] bsnlunar commented on #9
Hi Mbospiir
This issue is now placed into the backlog we have no current time for resolving the issue

[2021-11-19 08:08] micspiir commented on #16
Unfortunately we still see the problem. Taking an example from this morning, we sent a request at 2021-11-19 06:53:34.113.

We received 1916 transactions, but there were only 20 unique ids.

[2021-11-22 13:23] niklavs-raudseps commented on #12
@bsnlunar The date_to and date_from params would be great, but they are not strictly necessary. When will I be able to change the scopes in my registration? Because that to me is the most important thing.

[2021-11-23 08:45] micspiir opened #17 "Duplicate transaction ids still an issue"
Last week we reported an issue with duplicate transaction ids (#16). We still see this issue.

You reported that you deployed a fix on November 18, but we basically haven't seen any change in the number of duplicates that we receive from you.

This is currently blocking us from using your PSD2 interface, and we have clients that have many transactions deleted because of the way different systems h

[2021-11-26 13:39] micspiir commented on #17
It looks like this has improved since Tuesday at 12.00. We still see some duplicates, but we have seen a sharp drop in the amount of duplicates.

[2021-11-29 14:05] micspiir commented on #17
Correction: actually we still see the issue persists unchanged. It just looked like it was improving, but that was because we have been making much fewer calls to you since Tuesday, because of this issue.

[2021-12-01 10:31] mbospiir commented on #14
Hi @dentych, could you please update us on the status of this ticket?

[2021-12-03 12:19] mbospiir opened #18 "Payment initiation authorisation gets timed out immediately"
Hi,
we are testing PIS on production and when trying to authorize a domestic transfer with the following id: `93492d20-cfd5-4dc2-bfdf-fb45f409bd71` (from `Fri, 03 Dec 2021 11:28:01 GMT`) the flow looks like that (from the PSU perspective):

1. I type in SSN in browser
2. I open a push notification on my phone and approve access with touch id
3. I choose my account in my browser
4. I get a new appr

[2021-12-06 09:14] dentych commented on #14
I put a fix for this in production, so you should no longer see these issues.

I'm looking into the duplicate fields still, as it doesn't seem to be fixed. Will reply on the other issue once it's fixed.

[2021-12-06 13:39] dentych commented on #17
Hello. This should now be actually fixed. Both for accounts and transactions. I noticed it was a problem in both places.

[2021-12-06 13:39] #17 closed

[2021-12-06 13:39] #14 closed

[2021-12-07 11:20] dentych commented on #18
Was this an instant transfer or not?

[2021-12-07 12:38] mbospiir commented on #18
@dentych it was a normal transfer (`Instant: false`).
The payment date was unspecified.

[2021-12-07 13:59] micspiir commented on #17
@dentych From our systems this also seems to be solved now. Thank you very much.

[2021-12-08 09:18] dentych commented on #18
Alright. That makes sense. I could reproduce it that way too, just wanted to make sure :)
I'm working on a fix 😄

[2021-12-08 13:55] dentych commented on #18
A fix has been deployed to production. You should now be able to send a call with immediate = false and no date, and it should be set to payment date today.

[2021-12-08 13:55] #18 closed

[2021-12-09 08:54] christianpanton opened #19 "Single SCA payments?"
Hi Lunar,

Since "accountId" is required for payment initiation, we need to fetch the account number first form another source, which means that we need to perform "double SCA" in contexts where this "accountId" is not known prior. Is this correctly understood?

[2021-12-09 14:44] dentych commented on #19
That is only true if you request PSP_AI and PSP_PI scopes in separate calls.

If you request an access token with PSP_AI and PSP_PI, you should be able to make both retrieve accounts call and initiate payment using the same access token, and thus only requiring SCA for login once. The customer will still have to approve the payment in the Lunar app.

[2021-12-09 15:05] christianpanton opened #20 "Stays on /aisp-pisp/polling after payment approval"
We are stuck at this screen in the payment journey: /aisp-pisp/polling

![image](https://user-images.githubusercontent.com/392398/145420953-91cc297c-22bf-4332-a6cb-cb5930ee24fb.png)

The payment have been approved in the Lunar app, but control is not returned to us.

The endpoint /aisp-pisp/polling/<id>/status returns status: AWAITING_APPROVAL to the front-end after approval.

[2021-12-16 13:11] bsnlunar commented on #20
thank you We will look into this

[2021-12-16 14:16] mbospiir opened #21 "Root CA not trusted"
Hi,
when trying to onboard a client, we are getting `400 The SSL certificate error`.

`openssl s_client -connect openbanking.prod.lunar.app:443` shows that you do not trust the root CA, the client has.
Can you add **InfoCert Root CA 3** with serial number ** 7c35de37e34e4917f4a8d9f7c92bcaa4f9ee6afa** to your trusted roots?
http://cert.infocert.it/ca3/root/CA.crt

[2021-12-17 08:37] Kledal commented on #20
Hi @christianpanton,

Can you try again and verify that it works now?

[2021-12-17 08:52] christianpanton commented on #20
Yes, redirection works now. We have another error after this in the flow, but will reach out separately for that.

[2021-12-17 08:52] #20 closed

[2021-12-17 08:58] christianpanton opened #22 "Error 500 on /aisp-pisp/payments/domestic-credit-transfer/{id}"
Following #20, we now see that the payment status yields an error 500 after authorisation.

[2021-12-17 09:32] Kledal commented on #22
Thanks, we have fixed this issue. Please try again 👍

[2021-12-17 09:32] christianpanton commented on #22
Works!

[2021-12-17 09:32] #22 closed

[2021-12-17 09:45] bsnlunar commented on #21
tjek we will look into this

[2021-12-17 12:00] hoeg commented on #21
Fix should be out now @mbospiir, let me know if it is not working as intended on your end.

[2021-12-17 12:27] mbospiir commented on #21
It's doesn't work, the `openssl s_client -connect openbanking.prod.lunar.app:443` dumps the following (no InfoCert there):
[code]

[2021-12-17 12:55] hoeg commented on #21
Looking into this.

[2021-12-20 13:06] hoeg commented on #21
@mbospiir hopefully the issue is fixed now. Please give it another try and let me know if you encounter any issues.

[2021-12-20 13:52] mbospiir commented on #21
On Thursday, when I opened this issue, we were getting a 400 status code with "The SSL certificate error" info.
On Friday, as well as today, we are getting a 403 with no response body.
So there is an improvement, but why the 403 now? There is no authentication but still, something with a certificate must be off - it is still not listed here... `openssl s_client -connect openbanking.prod.lunar.app:

[2021-12-21 11:49] hoeg commented on #21
Yes, we have located an error with our certificate parsing that I am looking into. Will update as soon as it has been fixed.

[2021-12-28 08:45] niklavs-raudseps commented on #12
@bsnlunar Any progress on this issue?

[2022-01-03 08:55] hoeg commented on #21
@mbospiir we applied a new fix that should fix this issue.

[2022-01-03 10:52] mbospiir commented on #21
I can see that the intermediate certificate is added: `InfoCert Organization Validation SHA256 - CA 3`
But the request still fails with a 403:
[code]

[2022-01-04 09:18] hoeg commented on #21
Ok, would you mind dropping me your client certificate so I can verify that we have the proper certificate chain available on our end?

[2022-01-05 10:01] mbospiir commented on #21
@hoeg sent

[2022-01-07 09:06] hoeg commented on #21
@mbospiir We have identified another issue with the registration and are still working on a fix.

[2022-01-17 09:49] hoeg commented on #21
We have made some changes to the registration flow internally. Hopefully this will resolve the issues. Let me know if you are able to register or not @mbospiir

[2022-01-17 11:25] mbospiir commented on #21
Yes, we were able to register, thank you!

[2022-01-17 11:25] #21 closed

[2022-01-18 09:51] bsnlunar commented on #12
Hi @niklavs-raudseps
We are still having this on our backlog in the Squad involved. But no current progress that will benefit you can yet be promised.

[2022-01-20 13:54] niklavs-raudseps commented on #12
Well, then add this as a priority.

[2022-02-03 13:43] judspiir opened #23 "Reonboarding / Adding new certificate"
Hello,

We successfully registered a new client a while ago. Now, their certificates are expiring and we want to register the new ones.
Ideally, we would not have to receive a new pair of clientId + clientSecret, but simply call and endpoint to add a new certificate for an already registered client.

What we have tried so far, is simply attempting to call the `/tpp/register` endpoint with the new

[2022-02-09 10:47] GvidasPranauskasKevin opened #24 "TPP registration endpoint"
Hello,

I have been trying to find the registration endpoint on Lunar Open Banking developer portal, but got no luck (https://developer.openbanking.prod.lunar.app/docs/default/API/Registration). When opening this Link, 404 Not Found error page is displayed, thus I am not able to proceed with the registration.

Could you help accessing the registration documentation?

[2022-02-09 11:09] Crevil commented on #24
Looking into it now 🙏

[2022-02-09 13:18] Crevil commented on #24
The document is available again. Thank you for reporting 🙏

[2022-02-09 13:18] #24 closed

[2022-02-15 11:51] bsnlunar commented on #23
Hi @judspiir

We are looking into the issue thank you for your patience

[2022-02-17 07:48] bsnlunar commented on #23
Hi @judspiir we have now added a verification endpoint in the API GW
(https://developer.openbanking.dev.lunar.app). When the /verify endpoint responds HTTP 200 back, you should be able to switch to using the new certificate seamlessly.

[2022-02-18 13:48] micspiir opened #25 "Owner account name on account information requests"
Your customers are very eager to get access to the name of the owner of an account through the PSD2 interface.

Currently we don't get that, when calling https://openbanking.prod.lunar.app/aisp-pisp/accounts for a client.

Could you share with us when we would be able to provide that to the clients?

[2022-02-21 08:29] bsnlunar commented on #25
I will ensure we get this into our engineering squads backlog

[2022-02-21 09:37] judspiir commented on #23
Hi @bsnlunar, thank you, we did the switch and it seems to be working.

If I understand correctly, the /verify endpoint will tell us if a certificate is working or not; while this is a nice addition, it will still not solve the original problem: what to do to when certificates are expiring and we need to add the new ones to your trust store.

How would I go about doing that?

[2022-02-21 22:52] niklavs-raudseps commented on #12
Hello,

Any progress here?

[2022-02-23 07:29] GvidasPranauskasKevin opened #26 "International Payment Sandbox empty response"
Hello,

We have been trying to test the International Payment on the Sandbox, but with no luck. We do not get any response from the Lunar Sandbox API. However, the Domestic Payment works as expected.

The request we have sent:
[code]
And the response we have received:
[code]
Could you help us understand the problem we are facing?

[2022-02-28 10:40] 4lgn commented on #23
Hi,

Using this issue as I'm also facing a similar issue regarding the need to re-onboard a set of certificates. It does not seem like this is possible currently, as the `/register` endpoint simply gives back a status code 400.

Testing this out with test certificates in the sandbox environment also confirms that only the first onboarding is accepted - what would be appropriate given the need to g

[2022-02-28 11:57] annaremaeus opened #27 "Documentation - Error message"
Hi,

When looking at your documentation website there is the following error message:
"Building a newer version of this documentation failed. Error: "Failed to generate docs from /tmp/backstage-pIIILF into /tmp/techdocs-tmp-aPMpdj; caused by unknown error 'Command mkdocs failed, exit code: 1'"

We wonder why it's there and if you're planning on realeasing a new version of the documentation, when w

[2022-02-28 12:28] Crevil commented on #27
Thank you for reaching out. This is a known bug and it shouldn't impact the correctness of the docs.

We are however tracking it and will release a fix at some point 👍

[2022-02-28 12:41] annaremaeus commented on #27
Hi Crevil,

Thank you for your swift response! Good to know about the error message.

Can I take this opportunity to ask some general questions about your PSD2 API?

- What are the supported authentication methods?
- How does background refreshes work?
- What is your transaction history availability?
- How do you return account types? Is it one endpoint for all accounts, if yes how can they be dis

[2022-02-28 13:12] Crevil commented on #27
Hopefully most of these details are documented in https://developer.openbanking.prod.lunar.app/home and if not, please create separate tickets so the responsible teams can get an answer for you 🙏

[2022-02-28 14:28] annaremaeus commented on #27
Unfortunately I can't fin this information in the documentation so I'll create a separate ticket. Thanks again for your help!

[2022-02-28 14:28] #27 closed

[2022-02-28 14:30] annaremaeus opened #28 "API questions"
Hi,

I can't seem to find the answers to these general questions about your PSD2 API and would therefore appreciate getting, would highly appreciate if you could help me answer them.

- What are the supported authentication methods?
- How does background refreshes work?
- What is your transaction history availability?
- How do you return account types? Is it one endpoint for all accounts, if yes h

[2022-03-01 06:08] GvidasPranauskasKevin commented on #26
Are there any updaates?

[2022-03-01 10:59] micspiir commented on #25
Thank you for the update. Will you keep us updated here in this ticket once this is scheduled?

[2022-03-01 11:26] 4lgn opened #29 "Re-onboarding / changing registration roles"
Hi,

I have decided to add a separate specific issue for this, as it seems to have been requested in two older issues, #12 & #23, but no action seems to be taken.

Currently, there is no way to update roles after having onboarded, and there is no way to re-onboard a set of certificates - leading to a set of certificates being stuck in an unusable state if the roles need to be changed, or if a new

[2022-03-04 07:18] GvidasPranauskasKevin commented on #26
Hello, are there any updates?

[2022-03-08 09:32] annaremaeus commented on #28
Hi, do you have any answers to the questions above?

[2022-03-09 12:20] hoeg opened #30 "This is a test"

[2022-03-09 12:20] #30 closed

[2022-03-10 07:44] GvidasPranauskasKevin commented on #26
Hello, are there any updates?

[2022-03-11 12:46] 4lgn commented on #29
Any updates whatsover on this issue @mahlunar @Crevil ?

I would appreciate some kind of response - as would #28 #26 #12 & #23, I presume.

[2022-03-23 13:43] GvidasPranauskasKevin commented on #26
Hello, are there any updates?

[2022-04-13 10:49] bsnlunar commented on #19
Update: Issue under advisement

We are currently evaluating and will return back when the needed experts have concluded the consequences and impact.

Br. Lunar

[2022-04-22 07:44] bsnlunar commented on #26
Hi @GvidasPranauskasKevin We have raised the issue to our engineering squads and will come back to you
sorry for the long response time

[2022-05-04 07:42] TechHolm commented on #26
Hey @GvidasPranauskasKevin
Thank you for bringing our attention to this issue.
We have added this to the backlog for the owning squad within Lunar but can at the present time not give a target for when or if this issue is resolved

Br. Lunar

[2022-05-04 09:26] TechHolm commented on #28
Hi @annaremaeus
Apologies for the late delayed.
I have talked to the responsible squads in Lunar that can provide answers to your questions:

Q: What are the supported authentication methods?
A: Standard OpenID Connect flow with mTLS

Q: How does background refreshes work?
A: It is a standard openid connect flow so you should have a refresh token that you can use to call the standard /token endpoi

[2022-05-13 07:27] Agachily opened #31 "400 The SSL certificate error"
Hi,

I am trying to register with Lunar with our company's certificate, which is issued by Finnish Financial Supervisory Authority. However, I kept on facing the error stating that our SSL certificate is invalid. Detailed response is as follows:
`
{"result": {"status": 400, "response": "<html>\\r\\n<head><title>400 The SSL certificate error</title></head>\\r\\n<body>\\r\\n<center><h1>400 Bad Reque

[2022-05-17 11:56] hoeg commented on #31
Hi @Agachily I have released a fix that should make it possible for you to register now. Please try again and let me know if you are experiencing any issues with the registration.

[2022-05-19 14:23] Agachily commented on #31
@hoeg Thanks very much for your help! But I still can not register with our certificate. The error is same. The response of my request is as follows:
[code]

[2022-05-25 06:34] GvidasPranauskasKevin commented on #26
Hello, are there any updates?

[2022-05-30 15:24] 2dete commented on #29
Hello! Its been a while since my colleague ([niklavs-raudseps](https://github.com/niklavs-raudseps) last contacted you about possibility to  change  registration scopes. Is there any progress on the problem? Do i have to use github for communication or is there any other way for that ?

[2022-05-31 11:23] fed239 commented on #31
Hello @hoeg @runehammerskov @eXeDK @mrjensen  @mahlunar @Crevil could you please help us to resolve the issue? 🙏

Many thanks in advance!

[2022-06-06 10:16] 2dete commented on #29
Hey! Just checking again about [previous ](https://github.com/lunarway/openbanking/issues/29#issuecomment-1141277396) thing. Is there some kind of a progress? Or any other information?

[2022-06-09 10:32] Agachily commented on #31
Hi, I have tried again with our new certificate, but still encounter the  `400 The SSL certificate error` problem. The new cert I used is as follows:

[code]

[2022-06-15 12:31] hoeg commented on #31
Hi @Agachily, we have located an other issue regarding the registration service. I am making a fix as we write!

[2022-06-17 07:20] #28 closed

[2022-06-17 17:25] fed239 commented on #31
@hoeg thanks a lot for the update, looking forward to testing again next week. have a great weekend!

[2022-06-23 10:45] Agachily commented on #31
Thanks for your effort! Thanks very much!

[2022-06-30 07:12] 2dete commented on #29
Hello! Is there anyone here?

[2022-06-30 10:29] TechHolm commented on #10
Hi @mbospiir
Thank you for bringing our attention to this issue.
We have added this to the backlog for the owning squad within Lunar but can at the present time not give a target for when or if this issue is resolved

Br. Lunar

[2022-06-30 10:51] TechHolm commented on #29
Hi @4lgn & @2dete
Apologies for the delayed reply.
Thank you for bringing our attention to this issue.
We have added this to the backlog for the owning squad within Lunar but can at the present time not give a target for when or if this issue is resolved

Br. Lunar

[2022-06-30 11:02] TechHolm commented on #26
Hi, @GvidasPranauskasKevin .
We currently do not have any updates on the issue. We will get back to you as soon as we have any updates of interest.

Br. Lunar

[2022-06-30 11:06] TechHolm commented on #25
Hi, @micspiir
We currently do not have any updates on this issue. We will get back to you in this ticket as soon as we have any updates of interest.

Br. Lunar

[2022-06-30 11:07] TechHolm commented on #12
Hi, @niklavs-raudseps
Apologies for the late answer.
We currently do not have any updates on the issue. We will get back to you as soon as we have any updates of interest.

Br. Lunar

[2022-07-04 08:44] fed239 commented on #31
@hoeg Do you have any update on the issue? We are still very eager to get started in the live environment :) TY!

[2022-07-04 14:56] 2dete commented on #29
Hello @TechHolm ! What is the progress so far? Has anyone looked in to this problem?

[2022-07-05 06:39] GvidasPranauskasKevin opened #32 "Updating TPPs redirect-uris"
Hello,

I would like to have some assistance regarding the PATCH request to update TPPs redirect-uris.

Currently, we are sending this request:
[code]

But the response we receive:
[code]

We have followed this [documentation on updating tpp-redirect uris](https://developer.openbanking.dev.lunar.app/catalog/default/api/Registration). Could you please help us understand the issue?

[2022-07-05 08:41] TechHolm commented on #29
Hi @2dete
We unfortunately haven't had time to prioritise this yet. This thread will be updated with any updates of interest.

Br. Lunar

[2022-07-05 09:16] hoeg commented on #32
Hi, did you follow these steps described in the docs: https://developer.openbanking.dev.lunar.app/docs/default/api/registration/access_token/#tpps it seems that you are not providing a jwt to the call.

[2022-07-05 09:35] GvidasPranauskasKevin commented on #32
Hey,
Apparently I have missed this part of documentation since there is no authorization header present in the API documentation. However, now, when I add this JWT token to the request, it looks like this:
[code]

And the response I get:
[code]
Apparently, the token we have received is not a correct JWT - it only contains 2 parts:
[code]

Any ideas?

[2022-07-05 11:17] hoeg commented on #32
This requires further investigation, I will create a ticket internally and get back to you.

[2022-07-07 06:27] #9 closed

[2022-07-07 06:31] hoeg commented on #9
@mbospiir we have pushed a change that should fix this issue. Let me know if anything is not as expected 🚀

[2022-07-08 06:18] GvidasPranauskasKevin commented on #32
Hello, are there any updates?

[2022-07-13 06:03] GvidasPranauskasKevin commented on #32
Hello, are there any updates?

[2022-07-19 07:06] GvidasPranauskasKevin commented on #32
Hello, are there any updates?

[2022-07-25 05:30] 2dete commented on #29
Hello @TechHolm!!!
  I wanted to ask - What would be Your recommended solution to this problem

[2022-07-28 06:39] hoeg commented on #31
Hi @fed239, unfortunately this is an issue in an upstream project so we have to get a new release for that before we can have a fix ready. Unfortunately I do not have any timeline for when that happens.

[2022-07-29 06:52] 2dete commented on #29
Hello @4lgn , @TechHolm !
Is there by any chance some easier way to get in touch with you?
Because this seams unproductive/slow way.
And yeah, previous [question](https://github.com/lunarway/openbanking/issues/29#issuecomment-1193599747) still stands.

[2022-07-29 06:55] Agachily commented on #31
Thanks very much!

[2022-08-03 06:53] GvidasPranauskasKevin commented on #32
Hello, are there any updates?

[2022-08-08 07:18] 2dete commented on #29
Hello!
Wanted to check for some-kind of information on my [question](https://github.com/lunarway/openbanking/issues/29#issuecomment-1193599747) , but looks like no one is reading these questions.
Is it really not possible to communicate through more efficient / faster channels?

[2022-08-11 06:29] 2dete commented on #29
Hello guys!!!! is anybody here?

[2022-08-12 08:58] GvidasPranauskasKevin commented on #32
@hoeg Hello, are there any updates?

[2022-08-15 08:09] TechHolm commented on #29
Hi @2dete
We still haven't had time to prioritise this issue yet. I can assure that the issue is still on the backlog of the appropriate squad within Lunar. I currently can't give any estimation of delivery.

Br. Lunar

[2022-08-17 05:58] 2dete commented on #29
Maybe You can advise me, what would be the best way to handle this problem?
What would be Your preferred action / suggestion?

[2022-08-19 13:46] 2dete commented on #29
Hey! can you delete our registration and we will start over ? And isn't there any other way of communicating?

[2022-10-17 08:59] fonzi0711 opened #34 "400 No required SSL certificate was sent"
Hi !

We are Tink AB, AISP/PISP regulated by the Swedish FSA with our license passported across the EU. We tried to register as TPP with the `/register` endpoint but couldn't manage to do it. It throws `400 No required SSL certificate was sent`. We are sending the request through our proxy. I wonder what went wrong here...
The latest request was made with this requestId `A246835F-E001-46FE-AF19-99

[2022-10-17 10:52] hoeg commented on #34
Did you validate that your client certificate is used to initiate the mTLS connection?

Also if it is possible would you mind providing a copy of you client certificate, just to ensure that we can validate it on our side.

[2022-10-17 11:45] fonzi0711 commented on #34
From what I can see from our logs it looks like we establish a tls connection with the QWAC and then we get this `400 No required SSL certificate was sent`
Sure the certificate is this one :
[code]

[2022-10-17 12:02] hoeg commented on #34
Thank you. Let me look into it ✌️

[2022-10-17 12:03] hoeg commented on #34
Are you sure this is the certificate you are using?

It has
[code]

We will only accept connections started with valid EIDAS certificates.

[2022-10-17 14:21] fonzi0711 opened #35 "Access token API question"
Hi Lunar team !

We would like to start using Lunar production (live) APIs. We checked the documentation and there is mention of a "Get status" step on the authentication/authorization flow : https://developer.openbanking.prod.lunar.app/docs/default/api/registration/access_token/
I'm not sure to follow the whole flow. I wonder if we need to pull the status from your side or not ? If so, what's the

[2022-10-17 15:23] fonzi0711 commented on #34
Mmmh my bad this is the certificate we are using, it's a pem file :
[code]

[2022-10-18 06:41] hoeg commented on #35
We are serving the page that handles that. Notice that the get status call follows a redirect we are making and the call is between the User and Lunar, your service is not involved in this part of the login flow.

[2022-10-19 07:48] fonzi0711 commented on #34
@hoeg Any news on this ? :)

[2022-10-24 06:53] fonzi0711 commented on #34
Just a friendly reminder that this topic is still open :)

[2022-10-25 08:14] fonzi0711 opened #36 "Registration issue : 400 No required SSL certificate was sent"
Hi,

We are Tink AB, AISP/PISP regulated by the Swedish FSA with our license passported across the EU. I'm opening an issue again because I'm not sure you received our request (https://github.com/lunarway/openbanking/issues/34) . We tried to register as TPP with the /register endpoint but couldn't manage to do it. It throws 400 No required SSL certificate was sent. We are sending the request throu

[2022-10-26 12:51] lucaiia opened #37 "Danish CPR number instead of Swedish personnummer"
Hello,

Few months ago we started facing an issue regarding country selection in your mobile app.
We are trying to make a payment using our app (Aiia). Steps:
1. User fill the payment's data in our app and selects Lunar to pay with it.
2. User is redirected to Lunar's login page with DK flag:
![image](https://user-images.githubusercontent.com/97032300/198029875-9379939b-4738-4477-ac8a-d49ba618539c

[2022-10-27 06:21] 2dete commented on #29
Hello!
Its been awhile.
I see that the problem with possibility to change registration scopes is not moving forward.
Maybe you can suggest me , what would be the proper / recommended way, how to deal with this problem?
Is there by any chance possibility to contact you through emails or any other "channels" ?

[2022-10-28 10:29] hoeg commented on #37
We have not been able to recreate this error. The placeholder is changing when we change the nationality. We know the language doesn't change but that is as expected since it is decided by the browser language. We are using js to update the placeholder, perhaps that is disabled in your browser? If not we would like to know the browser you are using and the version.

[2022-11-02 08:21] fonzi0711 commented on #36
Any update on this ? :)

[2022-11-04 07:35] 2dete commented on #29
Hello!
Is anyone around here reading my questions????? still hoping for some answer

[2022-11-11 07:37] 2dete commented on #29
Hello!
Is there any news regarding my question?

[2022-11-15 07:08] 2dete commented on #29
Is there any life here?

[2022-11-15 08:59] 4lgn commented on #29
Hi, I have since unsubscribed from notifications from this thread as its been a long time since we moved on from this. I am gonna keep the issue open, however, but seeing as the support is as it is, I would probably try to reach out to the Lunar team more directly.
Last resort I reckon would be reporting the issue to Finanstilsynet or Forbrugerombudsmanden in terms of challenging the accessibility

[2022-11-15 11:56] 2dete commented on #29
Hello @4lgn !!!
Maybe You can provide me with some contact information for Lunar. So far i have tried to contact banks support and it haven't been very productive.

[2022-11-15 11:59] 4lgn commented on #29
Sorry, I can't help you with contact information other than what's already available publically.